/*parallax css below controls the cool scrolling effect*/
.parallax {
    /* The image used */
    background-image: url("images/appleBackgroundPic.jpg");
  
    /* Set a specific height */
    min-height: 25vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .using-parallax{
    height : fit-content;
    background-image:linear-gradient(#376B91, #DEB981);
    outline: 3px solid #020301;
    outline-offset: -3px;
    padding: 2em;
    text-shadow: 1px 1px #020301;
    text-align: center;
    color: #e9f7fe;
  }

  .using-parallax-footer {
    display: flex;
    height : fit-content;
    background-image:linear-gradient(#376B91, #DEB981);
    outline: 3px solid #020301;
    outline-offset: -3px;
    text-align: center;
    font-size: x-small;
    padding: 2em;
    text-shadow: 1px 1px #fffdee;
  }

  .product-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .product-container > img {
    width: 50%;
    box-shadow: 30px 30px #66d6eb;
    margin-right: 50px;
  }